<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet'
          href=
'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>Learn Luxembourgish</title>

</head>
<body>

    <nav class="navbar is-primary has-shadow">
        <!-- logo / brand -->
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="{% static 'images/luxlearn_icon.png' %}" style="max-height: 140px;max-width: 140px;">
            <a class="navbar-item" href="{% url 'lessons' %}">Lessons</a>
            <a class="navbar-item" href="{% url 'profile' %}" >Profile</a>
          </a>
        </div>
    </nav>

{% block content %}

{% endblock %}
    
</body>
</html>