{% extends 'languagelessons/base_home.html' %}

{% load static %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="rows">
            <div class="row">
                <article class="panel is-info">
                    <p class="panel-heading">
                      Welcome to LuxLearn website!
                    </p>
                    <form class="form-container" action="" method="POST">
                        <div class="panel-block">
                                {% csrf_token %}
                                <div class="columns is-mobile">
                                    <div class="column is-narrow">
                                        <p> Choose your <strong>translation preference</strong>, select it and press Let's Learn Button </p>
                                    </div>
                                    <div class="column is-narrow is-centered">
                                        <select name="new_translation_preference">
                                            <option selected="selected" value="English">English</option>
                                            <option value="Portugese">Portugese</option>
                                            <option value="French">French</option>
                                        </select>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="has-text-centered">
                            <input class="button is-info is-light my-3"  type="submit" name="save" value="Let's Learn">
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}