{% extends 'languagelessons/base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson.css' %}" />
</head>


{% block content %}

<section class="section">
    <div class="container">
        <div class="rows">
            <div class="row">
                <div class="columns">
                    <div class="column">
                        <div class="navbar has-text-light has-background-grey-lighter" id="nav-lesson">
                            <div class="navbar-start">
                                <a class="navbar-item">Translates from Luxembourgish to {{ translation_preference }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns pl-3 pr-3 is-multiline">
                    <div class="column is-9-desktop is-6-tablet is-12-mobile has-text-dark has-background-white-ter" style="min-height: 200px;">
                        <h1 class="title is-large"> {{ lesson.title }} </h1>
                        <div class="columns is-multiline">
                            {% for phrase,phrase_id,lesson_phrases_words_meanings,translation_pt,translation_en,translation_fr,audio_timestamp in lesson_translation %}
                                <div class="rows" style="width: 100%;">
                                    <div class="row" style="font-size: large;font-family: Arial; padding-top: 5px;padding-bottom: 5px;background-color: #f5f5f5;" onmouseover="this.style.background='#14a2dd';" onmouseout="this.style.background='#f5f5f5';"onclick="translateAndPlaySentence({{ phrase_id }})">
                                        <div class="columns">
                                                &nbsp;
                                                {% for word,word_special,translation,reference,audiolink in lesson_phrases_words_meanings %}
                                                    {% if word_special == "?" %}
                                                        <span>&#63;</span>
                                                    {% else %}
                                                        {% if forloop.last %}
                                                            <span style="margin-left: 4px;border-radius: 16px 50px;" onmouseover="this.style.background='#00a1de';" onmouseout="this.style.background='#f5f5f5';"onclick="translateAndPlayWord('{{ word }}','{{ translation }}','{{ reference }}','{{ audiolink }}')">{{ word }}&#46;&nbsp;</span>
                                                        {% else %}
                                                            <span style="margin-left: 4px;border-radius: 16px 50px;" onmouseover="this.style.background='#00a1de';" onmouseout="this.style.background='#f5f5f5';"onclick="translateAndPlayWord('{{ word }}','{{ translation }}','{{ reference }}','{{ audiolink }}')">{{ word }}&nbsp;</span>
                                                        {%endif%}
                                                    {% endif%} 
                                                {% endfor %}
                                                <a class="button is-info is-small" id="play{{ phrase_id }}" onclick="playFromTimestamp('{{ phrase_id }}','{{ audio_timestamp }}')">
                                                <audio>
                                                    <source src="{{ lesson.audio.url }}" type="audio/mpeg">
                                                </audio>
                                                <i class="fas fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% if translation_preference == "Portugese" %}
                                    <div class="row" style="visibility:hidden; font-size: medium; padding-bottom: 5px; margin-left: 20px;" id="{{ phrase_id }}">{{ translation_pt }}</div>
                                    {% endif %}
                                    {% if translation_preference == None or translation_preference == "English" %}
                                    <div class="row" style="visibility:hidden; font-size: medium; padding-bottom: 5px; margin-left: 20px;" id="{{ phrase_id }}">{{ translation_en }}</div>
                                    {% endif %}
                                    {% if translation_preference == "French" %}
                                    <div class="row" style="visibility:hidden; font-size: medium; padding-bottom: 5px; margin-left: 20px;" id="{{ phrase_id }}">{{ translation_fr }}</div>
                                    {% endif %}
                                    <!-- <div class="column" onclick="translateWord('{{ word }}')">{{ word }}</div> -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-3-desktop is-6-tablet is-12-mobile has-text-dark" style="min-height: 200px;background-color: transparent;">
                        <div class="row" style="padding-top:50px; position: fixed;">
                            <h1 class="title is-medium"> Meaning </h1>
                            <div class="columns is-mobile">
                                <div class="column is-narrow">
                                    <p class="has-text-weight-bold" id="word_clicked"> Word: </p> 
                                    <p class="has-text-weight-bold" id="word_clicked_meaning"> Meaning: </p>
                                    <p class="has-text-weight-bold" id="word_clicked_meaning_reference"> Reference: <a href="" id="word_clicked_meaning_reference_link" target="_blank" rel="noopener noreferrer">link</a></p> 
                                </div>
                                <div class="column is-narrow is-centered">
                                </div>
                            </div>
                            <audio controls>
                                <source src="{{ lesson.audio.url }}" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function translateWord(word){
        var word_placeholder = document.getElementById("word_clicked")
        var meaning_placeholder = document.getElementById("google_meaning")

        document.domain = "bulmaluxembougish.com";

        let xhr = new XMLHttpRequest();
        var url_first_part = "https://lod.lu/api/lb/search?query="
        var url_second_part = "&lang=lb" 
        xhr.open("GET", url_first_part.concat(word,url_second_part),true);

        xhr.send();

        word_placeholder.textContent = "Word: "
        xhr.onload = () => console.log(xhr.responseText)
        
        word_placeholder.textContent = word_placeholder.textContent + xhr.responseText
    }

    function translateAndPlayWord(word,meaning,reference,audiolink){
        var word_clicked = document.getElementById("word_clicked");
        var word_clicked_meaning = document.getElementById("word_clicked_meaning");
        var word_clicked_meaning_reference_link = document.getElementById("word_clicked_meaning_reference_link");

        console.log(audiolink)
        var audio = new Audio(audiolink);

        word_clicked.textContent = "Word: " + word;
        word_clicked_meaning.textContent = "Meaning: " + meaning;
        word_clicked_meaning_reference_link.href = "https://lod.lu/sich/lb/" + word

        audio.play();

        // word_clicked_meaning.textContent = "Meaning: " + word;
    }

    function translateAndPlaySentence(phrase_id){
        var translation = document.getElementById(phrase_id);
        if(translation.style.visibility == "visible"){
            translation.style.visibility = "hidden";
        }else{
            translation.style.visibility = "visible";
        }
    }

    function playFromTimestamp(phrase_id,timestamp){
        console.log(timestamp);
        const timestampArray = timestamp.split(",");
        var startTime = timestampArray[0];
        var endTime = timestampArray[1];
        var button = document.getElementById("play".concat(phrase_id))
        const audio = new Audio(button.childNodes[1].currentSrc);
        audio.addEventListener("timeupdate", function() {
        if(this.currentTime >= endTime) {
            this.pause();
        }});
        audio.load();
        audio.currentTime = startTime;
        audio.play();
        console.log(button.childNodes[1].currentSrc);
    }
    </script>

{% endblock %}