{% extends 'languagelessons/base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson.css' %}" />
</head>


{% block content %}

<section class="section">
    <div class="container">
        <div class="rows">
            <div class="row">
                <div class="columns">
                    <div class="column">
                        <div class="navbar has-text-light has-background-grey-lighter" id="nav-lesson">
                            <div class="navbar-start">
                                <a class="navbar-item">Editing audio timestamps from {{ lesson.title }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns pl-3 pr-3 is-multiline">
                    <div class="column is-12-desktop is-6-tablet is-12-mobile has-text-dark has-background-white-ter" style="min-height: 200px;">
                        <h1 class="title is-large"> {{ lesson.title }} </h1>
                        <div class="columns is-multiline">
                            <form class="form-container" action="" method="POST">
                                {% csrf_token %}
                                {% for phrase,phrase_id,audio_timestamp in lesson_phrases_audio %}
                                    <div class="rows" style="width: 100%;">
                                        <div class="row" style="font-size: large;font-family: Arial; padding-top: 30px;padding-bottom: 15px;background-color: #f5f5f5;" onmouseover="this.style.background='#14a2dd';" onmouseout="this.style.background='#f5f5f5';">
                                            <div class="columns">
                                                    &nbsp;
                                                    <span style="margin-left: 4px;border-radius: 16px 50px;" onmouseover="this.style.background='#00a1de';" onmouseout="this.style.background='#f5f5f5';">{{ phrase }}&nbsp;</span>
                                                    <strong> From&nbsp; </strong>
                                                    <input type="number" id="secondsfrom{{ phrase_id }}" name="secondsfrom{{ phrase_id }}" min="0" max="400" value="{{ audio_timestamp.0 }}">
                                                    &nbsp;
                                                    <strong> To </strong>
                                                    &nbsp;
                                                    <input type="number" id="secondsto{{ phrase_id }}" name="secondsto{{ phrase_id }}" min="0" max="400" value="{{ audio_timestamp.1 }}">
                                                    &nbsp;
                                                    <a class="button is-info is-small" id="play{{ phrase_id }}" onclick="playFromTimestamp('{{ phrase_id }}')">
                                                    <audio>
                                                        <source src="{{ lesson.audio.url }}" type="audio/mpeg">
                                                    </audio>
                                                    <i class="fas fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="has-text-centered">
                                    <input class="button is-danger is-light my-3"  type="submit" name="save" value="Save Timestamps">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function translateWord(word){
        var word_placeholder = document.getElementById("word_clicked")
        var meaning_placeholder = document.getElementById("google_meaning")

        document.domain = "bulmaluxembougish.com";

        let xhr = new XMLHttpRequest();
        var url_first_part = "https://lod.lu/api/lb/search?query="
        var url_second_part = "&lang=lb" 
        xhr.open("GET", url_first_part.concat(word,url_second_part),true);

        xhr.send();

        word_placeholder.textContent = "Word: "
        xhr.onload = () => console.log(xhr.responseText)
        
        word_placeholder.textContent = word_placeholder.textContent + xhr.responseText
    }

    function translateAndPlayWord(word,meaning,reference,audiolink){
        var word_clicked = document.getElementById("word_clicked");
        var word_clicked_meaning = document.getElementById("word_clicked_meaning");
        var word_clicked_meaning_reference_link = document.getElementById("word_clicked_meaning_reference_link");

        console.log(audiolink)
        var audio = new Audio(audiolink);

        word_clicked.textContent = "Word: " + word;
        word_clicked_meaning.textContent = "Meaning: " + meaning;
        word_clicked_meaning_reference_link.href = "https://lod.lu/sich/lb/" + word

        audio.play();

        // word_clicked_meaning.textContent = "Meaning: " + word;
    }

    function translateAndPlaySentence(phrase_id){
        var translation = document.getElementById(phrase_id);
        if(translation.style.visibility == "visible"){
            translation.style.visibility = "hidden";
        }else{
            translation.style.visibility = "visible";
        }
    }

    function playFromTimestamp(phrase_id){
        var secondsFrom = document.getElementById("secondsfrom".concat(phrase_id));
        var secondsTo = document.getElementById("secondsto".concat(phrase_id));

        var startTime = secondsFrom.value;
        var endTime = secondsTo.value;

        // console.log(startTime)
        // console.log(endTime)

        var button = document.getElementById("play".concat(phrase_id))
        const audio = new Audio(button.childNodes[1].currentSrc);
        audio.addEventListener("timeupdate", function() {
        if(this.currentTime >= endTime) {
            this.pause();
        }});
        audio.load();
        audio.currentTime = startTime;
        audio.play();
        console.log(button.childNodes[1].currentSrc);
    }
    </script>

{% endblock %}